@page
@model SignalRTest.Pages.SessionModel
@{
    ViewData["Title"] = "Session";
}

<h1>Session</h1>

<div class="container">
    <div class="row">&nbsp;</div>
    @*<div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
    *@
    <div class="row">
        <div class="col-2">Session Code</div>
        <div class="col-4"><input type="text" id="mySessionCode" /></div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" class="btn btn-primary" id="setSessionCode" value="Join Session" />
            <input type="button" class="btn btn-primary" id="removeSessionCode" value="Leave Session" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div id="status" class="TIMER">
        <div class="col-lg-6" style="display:none" id="session-started">SESSION HAS STARTED</div>
        <div class="col-lg-6" style="display:normal" id="session-ended">SESSION HAS ENDED</div>
        <div class="col-lg-6" style="display:normal" id="time-left"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/chat.js"></script>*@
@*<script src="~/js/session.js"></script>*@
<script src="~/js/sessionClient.js"></script>